<header>
    <div id="social-icons">
        <span id="icons-info">facebook.com/hosamelnabawy</span>
        <ul class="">
            <li><a href="/signup">not a member? sign up</a>&nbsp;&nbsp;</li>
            <li><i class="fa fa-facebook hovered" data-info="facebook.com/hosamelnabawy"></i></li>
            <li><i class="fa fa-twitter" data-info="twitter.com/hosam1696"></i></li>
            <li><i class="fa fa-linkedin" data-info="linked.com/hosamelnabawy"></i></li>
            <li><i class="fa fa-phone " data-info="+54484651164"></i></li>
            <li><i class="fa fa-language"></i><select name="lang" id="">
                    <option value="en">EN</option>
                    <option value="ar">AR</option>
                </select></li>

        </ul>

    </div>
    <div class="container">

        <div class="row ">
            <div class="col-md-6 col-sm-12">
                <div class="penguin_container">
                    <div class="body">
                        <div class="wings">
                            <span></span>
                            <span></span>
                        </div>

                        <div class="face_container">
                            <div class="face_white">
                                <span></span>
                                <span></span>
                            </div>

                            <div class="eyes">
                                <span></span>
                                <span></span>
                            </div>

                            <div class="beak">
                                <span></span>
                                <span></span>
                            </div>

                            <div class="cheeks">
                                <span></span>
                                <span></span>
                            </div>
                        </div>

                        <div class="belly"></div>

                        <div class="feet">
                            <span></span>
                            <span></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-center">
                <div class="col-md-8 col-sm-10 col-xs-12 bg-trans">
                    <h2><%= title %></h2>
                    <p><%= description %></p><br>
                    <button href="/speakers" id="show-speakers">show speakers</button>

                </div>

            </div>
        </div>
    </div>
</header>