<header>
    <div class="container">
        <div class="row text-center">
            <h2><%= title %></h2>
            <p><%= description %></p>
            <a href="/speakers">show speakers</a>
        </div>
    </div>
</header>