<article class="sidebar">
  <h1 class="sidebar-title">Who should come?</h1>
  <ul class="sidebar-body">
    <li>Anybody interested in art and the creative industry</li>
    <li>Painters, sculptors, photographers and graphic artists</li>
    <li>Those interested in meeting and making a connection with others in the local art scene.</li>
  </ul>
</article><!-- article -->
