header {
    height: 400px;
    background: url('../images/misc/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 50px;

}
header h2 {
    font-weight: bold;
    font-size: 2.5em;
    color: deeppink
}
.navbar {
    margin-bottom: 0;
    width: 100%
}
.marketing {
    background: #eee;
}
.marketing .col-lg-4 {
    padding: 15px;

}
.marketing .col-lg-4 h2 {
    color: #ff5965;
}
.marketing .col-lg-4 .speaker-image {
    text-align: center

}