<<<<<<< HEAD
 * {
     box-sizing: border-box;
     transition: color 0.2s linear;
 }
header {
    height: 300px;
    background-image: linear-gradient(45deg, #112334, #29527b, #162d43);
    -webkit-background-size:100%;
    background-size:100%;
    background-attachment: fixed;
    padding-top: 50px;
    color: #eee;
    box-shadow: inset 0 15px 5px #112334,inset 0 20px 0 #0c1622,inset 0 -10px 5px #112334;
    position: relative;
}
.padding {
    padding: 10px 12px;
    border-radius: 4px;
}
header h2 {
    font-weight: bold;
    font-size: 2.5em;
    color: #d50b3e;
    text-shadow: 2px 2px #881717, 1px 1px #881717;
    font-family: cursive;
}
.bg-trans {
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.6);
    position: relative;
}
/* social-items*/
#social-icons {
    position: absolute;
    top: 0;
    right: 5%;

}
#social-icons ul {
    float: left;
    margin: 0;
    list-style:none
}
#social-icons li {
    float:left;
    padding-right: 8px;
    color: #757575;
    transition: color .2s ease;
}
#social-icons li:hover>i, i.hovered {
    color: #ddd;

}
#social-icons li select {
    background-color: transparent;
    border-color: transparent;
}
#social-icons li select:focus {
    outline: none;
}
#icons-info {
    color: #d8d6d6;
    padding: 1px 4px;
    background-color: #1a3754;
    border-radius: 5px;
    display: none;
}
.navbar {
    margin-bottom: 0;
    width: 100%
}
.marketing .col-lg-4 {
    padding: 15px;

}
.marketing .col-lg-4 h2 {
    color: #ff5965;
}
.marketing .col-lg-4 .speaker-image {
    text-align: center

}
button#show-speakers {
    background-color: #101f2f;
    padding: 10px 15px;
    border: 1px solid #162a40;
    overflow: hidden !important;
    color: #eee;
    position: relative;
    box-shadow: inset 0 -2px 0 #19324b;

}
button#show-speakers::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #162a40;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
    box-shadow: inset 0 -2px 0 #25496e

}
button#show-speakers::before {
    content: "show speakers";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 36px;
    color: #fff;
    opacity: 0;
    transition: opacity.1s ease-in-out 0.1s;
    z-index:3
}
button#show-speakers:hover {
    text-decoration: none;
    color: #fff
}
button#show-speakers:hover:after {
    transform: translateY(0)
}
button#show-speakers:hover:before{
    opacity: 1
}
.penguin_container {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 333px;
    top: 15%;
}
.navbar-brand {position: relative}
.navbar-brand > span{
    padding-left: 85px;
}
.navbar-brand .penguin_container {
    transform: scale(.35,.35) ;position: absolute;
    transform-origin: top left;
    top: -45%
}
.nav>li a {
    transition: box-shadow .35s ease-in-out;
    box-shadow: inset  0 0 darkred;
}
.nav>li a:hover,.nav>li.active a {
    box-shadow: inset  0 -3px #d50b3e;
}
.body {
    width: 298px;
    height: 333px;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    background: #465a65;
    position: absolute;transform: scale(.65,.65) translateY(-22%);
}

/* belly */

.belly {
    width: 240px;
    background: #deddd0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 150px;
    margin: 0 auto;
    margin-top: 150px;
    overflow: hidden;

}

.belly::before {
    content: '';
    width: 240px;
    background: #f6f5e4;
    border-bottom-left-radius: 55%;
    border-bottom-right-radius: 43%;
    height: 135px;
    display: block;
    position: absolute;
}

/* face white */

.face_white span {
    height: 100px;
    background: #f6f5e4;
    width: 121px;
    position: absolute;
    top: 55px;
}

.face_white span:nth-child(1) {
    left: 29px;
    border-top-left-radius: 100%;
    border-top-right-radius: 50%;
}

.face_white span:nth-child(2) {
    right: 29px;
    border-top-right-radius: 100%;
    border-top-left-radius: 50%;
}


/* eyes */

.eyes span {
    width: 40px;
    height: 40px;
    background: #263238;
    border-radius: 50%;
    position: absolute;
    top: 100px;
}

.eyes span:nth-child(1) {left: 70px;}

.eyes span:nth-child(2) {right: 70px;}

.eyes span::after {
    content: '';
    position: absolute;
    background: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 8px;
    left: 9px;
}

/* beak */

.beak span:nth-child(1) {
    width: 35px;
    height: 35px;
    background: #f5b81f;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 130px;
    top: 130px;
    z-index: 9;
    border-radius: 15%;
}

.beak span:nth-child(2) {
    width: 50px;
    height: 10px;
    border-bottom: 5px solid #262626;
    position: absolute;
    top: 138px;
    left: 123px;
    z-index: 999;
    border-radius: 50%;
}

/* cheeks */

.cheeks span {
    width: 30px;
    height: 15px;
    border-radius: 50%;
    background: pink;
    position: absolute;
    top: 145px;
    z-index: 99;
}

.cheeks span:nth-child(1) {
    left: 54px;
}

.cheeks span:nth-child(2) {
    right: 54px;
}

/* feet */

.feet span {
    width: 40px;
    height: 90px;
    position: absolute;
    background: #f5b81f;
    border-radius: 50%;
    bottom: -42px;
    z-index: -1;
}

.feet span:nth-child(1) {
    -webkit-transform: rotate(77deg);
    -ms-transform: rotate(77deg);
    transform: rotate(77deg);
    left: 60px;
}

.feet span:nth-child(2) {
    -webkit-transform: rotate(-77deg);
    -ms-transform: rotate(-77deg);
    transform: rotate(-77deg);
    right: 60px;
}


/* wings */

.wings span {
    width: 35px;
    height: 90px;
    position: absolute;
    background: #334852;
    border-radius: 50%;
    top: 136px;
    z-index: -1;
}

.wings span:nth-child(1) {
    left: -30px;
    -webkit-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);
    border-bottom-left-radius: 100%;
}

.wings span:nth-child(2) {
    right: -30px;
    -webkit-transform: rotate(-140deg);
    -ms-transform: rotate(-140deg);
    transform: rotate(-140deg);
    border-bottom-right-radius: 100%;
}
.jumbtron p {
    color: #555
}
.feature {
    max-height: 320px

}
.feature-divider {
    margin: 0;
    background-color: #F5F5F5;
    height: 8px;
    border-radius: 0 23px / 5px;
}

.chat-message-name {
    padding: 5px 8px;
    font-size: 29px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
    color: #009688;
}
.chat-message-name:focus {
    outline:none
}
.single-message {
    max-width: 65%;
     clear: left
}
.single-message .person-avatar {
    text-align: center;
    width: 10%;
    float: left
}
.single-message .person-avatar:after {
    clear: left
}
.single-message .person-avatar .person-name {
    font-size: 12px   ;
    color: #555 ;
        margin-top: -5px;
    display: block;
}
.single-message .person-avatar .img-placeholder {
    width: 35px;
    height:35px;
    background-color: #fff;
    box-shadow: inset 0 0 0 5px #eee,inset 0 0 0 10px #ddd, inset 0 0 0 15px #888;
    border-radius: 50%;
    margin: 3px auto
}
.message-body {
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    color: #666;
    width: 80%;
    padding: 6px 6px 6px 8px;
    margin-top: 4px;
    box-shadow:0  1px  3px #ccc

}
.message-body .message-date {
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 10px;
    color: #888;

}
.message-body:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: #fff;
    top:50%;
    left: 0;

    transform:translateY(-50%) translateX(-50%) rotate(45deg);
}

/*chat bot*/
#chat-bot {
    height: 500px;
    width: 100%;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #999;
    overflow: hidden;
}
 #chat-bot .chat-title {
     background-image: linear-gradient(#319dff, #1b8fff);
     padding: 5px 15px
 }
 #chat-bot .chat-title h4 {
     color: #333;
     text-shadow: 1px 1px #62bdff;
     font-weight: bold;
 }
 #chat-bot #chat-body {
     height: 400px;
    padding: 10px;
     overflow-y: scroll;

 }
 #chat-bot #chat-form {
     padding: 10px;
     border-top: 1px solid #58c8c5;
     background-color: #cdd5de;
     position: relative;
     box-shadow: 0 -2px 5px #bec8d3
 }
#chat-bot #chat-form .chat-message-control {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: -2px;
    width: 100%
}
#chat-bot #chat-form .chat-message-control:focus {
    outline: none
}
#chat-bot #chat-form .chat-message-send {
    width: 9%;
    text-align: center;
    background-color: #1b8fff;
    color: #fff;
    border: 1px solid #dfeaf6;
    border-radius: 5px;
    position: absolute;
    top: 12px;
    right: 14px;
}
#name-checked {
    margin: 25px auto;
    color: #ddd
}
#name-checked .name-checker-found {
    font-weight: bold;
    text-shadow: 1px 1px 2px #1d1f37;
}
#chat-body ul{
    margin: 0;
    padding:0;list-style: none
}
#chat-body ul li {
    color: #eee;
    margin-bottom: 15px
}

#chat-body ul li:after {
    clear: both
}
#chat-body ul li p {
    font-size: 12px
}

#chat-section {
    background-color: #1f3f5e
}
=======
@import url(http://fonts.googleapis.com/css?family=Roboto:100, 300);

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #C1343F;
}

p {
  font-family: inherit;
  font-weight: 100;
}


li {
  font-family: inherit;
  font-weight: 100;
}


a {
  color: #DD4F53;
}

/**  Header Navigation **/

header {
  font-size: 2rem;
}

header .jumbotron {
  height: 40vh;
  margin-bottom: 0;
  background: url(../images/misc/background.jpg) no-repeat 100% 5%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**  Navbar **/

header .navbar {
  background: #CF5565;
  margin-bottom: 0;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

header .navbar-default {
  border: none;
  border-radius: 0;
  padding: 10px 0;
}

.navbar-inverse {
  border: 0;
}


header .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

header .navbar-inverse .navbar-brand {
  color: white;
}

header .navbar-inverse .navbar-nav>li>a {
  color: white;
} 

.maincontent {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}

.sidebar {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 130%;
}

.sidebar .sidebar-title {
  font-size: 1.5em;
}

.sidebar .sidebar-body li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    line-height: 160%;
  }
  .sidebar .sidebar-title {
    font-size: 2em;
  }
}

.speakerslist {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}

#speakerList .speakerslist-img {
  margin-right: 20px;
}

.speakerslist-title {
  font-size: 1.7em;
}

#home .speakerslist-title {
  font-size: 1.5em;
}

#speakerDetail .speakerslist-title {
  font-size: 2.4em;
}

#speakerDetail .speakerslist-img {
  margin: 20px 0;
}

.form-control {
  font-weight: 100;
  font-size: 1.7rem;
}

.chat-form {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.jumbotron {
  padding: 20px 0;
  background-color: #FFEB8B;
}

/**  chat-display **/

.chat-display {
  min-height: 150px;
  max-height: 40vh;
  overflow: scroll;
  font-size: 1.2em;
}

.chat-display p {
  font-size: .9em;
  padding: 0 10px;
}

.feedback, .feedback-form-title {
  font-size: 2rem;
}

.feedback-form {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}


.feedback-title {
  font-size: 1.2em;
}

.feedback-form-title {
  font-size: 2em;
}

.feedback-name {
  font-size: .6em;
  font-weight: 100;
}

.feedback-message {
  font-weight: 100;
  font-size: .9em;
  line-height: 120%;
  margin-top: 5px;
}

.feedback-item {
  border-bottom: 1px solid gray;
  padding: 8px 0;
}

.feedback-item:last-of-type {
  border-bottom: none;
}


/**  pixgrid **/

.pixgrid {
  cursor: pointer;
  margin-top: 20px;
}

.pixgrid img {
  display: block;
  padding: 5px;
  float: left;
  width: 33.33%;
  border-radius: 10px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .pixgrid img {
    width: 20%;
  }
}
>>>>>>> master
