@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

html {
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
};

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Roboto Slab', sans-serif;
}

/**  Header Navigation **/

header {
  font-size: 2rem;
}

header .jumbotron {
  height: 50vh;
  margin-bottom: 0;
  background: url(../images/misc/background.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**  Navbar **/

header .navbar {
  margin-bottom: 0;
  border-radius: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

header .navbar-default {
  border: none;
  border-radius: 0;
  padding: 10px 0;
}

header .navbar-brand {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
}

.maincontent {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}

.sidebar {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.8rem;
  line-height: 130%;
}

.sidebar .sidebar-title {
  font-size: 1.5em;
}

.sidebar .sidebar-body li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    line-height: 160%;
  }
  .sidebar .sidebar-title {
    font-size: 2em;
  }
}

.speakerslist {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}

#speakerList .speakerslist-img {
  margin-right: 20px;
}



.speakerslist-title {
  font-size: 1.7em;
}

#home .speakerslist-title {
  font-size: 1.5em;
}

#speakerDetail .speakerslist-title {
  font-size: 2.8em;
}

#speakerDetail .speakerslist-img {
  margin: 20px 0;
}

.chat-form {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.jumbotron {
  padding: 20px 0;
}

/**  chat-display **/

.chat-display {
  min-height: 150px;
  max-height: 40vh;
  overflow: scroll;
}

.chat-display p {
  font-family: "Open Sans", sans-serif;
  font-size: .9em;
  padding: 0 10px;
}

.feedback {
  font-size: 2rem;
}

.feedback-form {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}


.feedback-title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.2em;
}

.feedback-form-title {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2em;
}

.feedback-name {
  font-family: "Open Sans", sans-serif;
  font-size: .6em;
  font-weight: 100;
}

.feedback-message {
  font-family: "Open Sans", sans-serif;
  font-size: .9em;
  line-height: 120%;
  margin-top: 5px;
}

.feedback-item {
  border-bottom: 1px solid gray;
  padding: 8px 0;
}

.feedback-item:last-of-type {
  border-bottom: none;
}


/**  pixgrid **/

.pixgrid {
  cursor: pointer;
  margin-top: 20px;
}

.pixgrid img {
  display: block;
  padding: 5px;
  float: left;
  width: 33.33%;
  border-radius: 10px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .pixgrid img {
    width: 20%;
  }
}
