<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>

<body>
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>


<!-- START THE FEATURETTES -->
<br>
<div class="container">



    <div class="row feature">
        <div class="col-md-7">
            <h2 class="feature-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="feature-image img-responsive center-block" src="/images/speakers/Riley_Rewington.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="feature-divider">

    <div class="row feature">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="feature-image img-responsive center-block" src="/images/speakers/Lorenzo_Garcia.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="feature-divider">

    <div class="row feature">
        <div class="col-md-7">
            <h2 class="feature-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="feature-image img-responsive center-block" src="/images/speakers/Hillary_Goldwynn.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="feature-divider">
</div>
<!-- /END THE FEATURETTES -->
<br>
<br>

<footer>

    <div class="container text-center text-muted">
        All Rights Reserved 2017 &copy;
    </div>

</footer>
<script src="/reload/reload.js"></script>
</body>
</html>