
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>

</head>
<!-- NAVBAR
================================================== -->
<body>

<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>

<script src="/reload/reload.js"></script>
</body>
</html>